<DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include foundation.html %}
<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">{{ site.title }}</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
        <ul>
    </section>
</nav>
<div class="row">
    <div class="medium-12 columns">
        {{ content }}
    </div>
</div>
</body>
</html>
